{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "Promise": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "rules": {
    "no-console": "off",
    "no-var": "error",
    "prefer-const": "error",
    "no-unused-vars": ["error", {"args": "none"}]
  }
}
