//- Copyright 2015 Nick Stanish
doctype html
html
  head
    title Visual Audio JS
    link(href='public/css/bootstrap.min.css', rel='stylesheet')
    link(href='public/css/styles.css', rel='stylesheet')

    script(src='public/js/sylvester.js')
    script(src='public/js/glUtils.js')

    script(src='public/js/jquery-2.1.4.min.js')
    script(src='public/js/bootstrap.min.js')
    script(src='public/js/stats.min.js')
    script(src='public/js/visual-audio.js')
  body
    .content-wrapper
      canvas#canvas
      #overlay
        #overlay-wrapper.user-select
          #audio-chooser
            h3 Select a song
            label(for="audioFile") 
              .btn.btn-default
                .glyphicon.glyphicon-folder-open
            input#audioFile(type="file")
            label#voice-chooser
              .btn.btn-default
                .glyphicon.glyphicon-record

          #media-player.off.paused
            #now-playing.user-select
            #media-controls.user-select
              .btn.btn-default(data-control="play")
                .glyphicon.glyphicon-play
              .btn.btn-default(data-control="pause")
                .glyphicon.glyphicon-pause
              .btn.btn-default(data-control="stop")
                .glyphicon.glyphicon-stop


