doctype html
html
  head
    title Visual Audio JS
    link(href='/public/css/styles.css', rel='stylesheet')

    script(src='/public/js/sylvester.js')
    script(src='/public/js/glUtils.js')

    script(src='/public/js/visual-audio.js')
  body
    .content-wrapper
      canvas#canvas
      #overlay
        #overlay-wrapper
          #audio-chooser
            label(for="audioFile") Select a song
            input#audioFile(type="file")
            button#testSong Test

