doctype html
html
  head
    title Visual Audio JS
    link(href='/public/css/styles.css', rel='stylesheet')
    script(src='/public/js/visual-audio.js')
  body
    .content-wrapper
      canvas#canvas